.menu{
    width: 100%;
    height: 4rem;
    padding: 0 4rem 0 4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--colorAzul);
    font-size: 1.5rem;
    color: #ffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#botonVolver{
    width: 10rem;
    height: 3rem;
    padding: 0.4rem 0 0 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.volver{
    margin: 0 0 0.6rem 0;
}
.flecha img{
    width: 1.8rem;
    height: 1.8rem;
}
.desactivarMenu{
    display: none;
}
.fondoInterfaz{
    display: flex;
    justify-content: space-around;
}
.datosAlibaba{
    width: 50rem;
    height: 45rem;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;

    border-radius: 0.5rem;
}
.barra_azul_datos{
    width: 3rem;
    height: 100%;
    background-color: var(--colorAzul);

    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
#root_botones{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: var(--colorGris);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#root_botones div{
    width: 8rem;
    height: 5rem;
    margin: 0.5rem;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 1px solid var(--colorAzul);
    border-radius: 0.5rem;
}
.datos{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--colorGris);
    font-size: 1rem;
    height: auto;
}
table{
    border: 1px solid var(--colorAzul);
    text-align: center;
}
td{
    padding: 0.2rem;
}